<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clube de Assinatura - Coffee FC</title>
    
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/catalogo.css"> <link rel="stylesheet" href="../assets/css/planos.css"> <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    
    <section class="secao_principal" id="hero-planos" style="height: 350px;">
        <div class="hero-content">
            <h1>Coffee Fan Club</h1>
            <h2>Torne-se um membro e receba benefícios exclusivos.</h2>
        </div>
    </section>

    <section class="planos-section">
        <div class="planos-wrapper" id="planos-container">
            <p id="loading-message-planos">Carregando planos...</p>
        </div>
    </section>

    <script src="../assets/js/planosFactory.js" type="module"></script>
    <script src="../assets/js/planos.js" type="module"></script>
</body>
</html>