<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas com Café - Coffee Fan Club</title>

    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/receitas.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>

    <section class="secao_principal" id="hero-receitas">
        <div class="hero-content">
            <h1>Receitas Coffee</h1>
            <h2>Descubra novas formas de aproveitar seu café favorito</h2>
        </div>
    </section>

    <section class="receitas-section">
        <div class="receitas-wrapper">

            <aside class="filtro-sidebar">
                <h3>Filtrar por:</h3>

                <div class="filtro-grupo" id="filtro-tipo-receita">
                    <h4>Tipo</h4>
                    </div>

                <div class="filtro-grupo" id="filtro-dificuldade-receita">
                    <h4>Dificuldade</h4>
                    </div>
                </aside>

            <div class="receitas-list-container" id="receitas-container">
                 <p id="loading-message-receitas">Carregando receitas...</p>
                 </div>
             </div>
        <div class="load-more-row">
            <div class="load-more-container">
                <button id="load-more-btn" class="load-more-btn" style="display: none;">Mais Receitas</button>
            </div>
        </div>
    </section>

    <script src="../assets/js/receitasFactory.js" type="module"></script>
    <script src="../assets/js/receitas.js" type="module"></script>
</body>
</html>